// color 
$inputBgColor:#F1F2F6;
$iconTextColor:#646B74;
$homeIconColor:#1977F2;
$textColor:#272727;
$bodyColor:#F2F3F5;
$navBarBgColor:#ffffff;
$navIconColor:#060606;
$smileIconColor:#FFCD2F;
$photoIconColor:#45BD61;
$iconVideo:rgb(255, 23, 23);
$borderColor:#ddd;
$giftIconColor:#01A5FF;
$saveIconColor:#A037C8;
$flagIconColor:#EF622B;